.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.MuiTableCell-head{
  font-weight: bold !important;
} 

.App-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-footer{
  margin-top: 40px;
  margin-bottom: 40px;

}

.App-botones{
  text-align: 'right';
  margin-right: 100;
  margin-left: 50 
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.alert {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  max-width: 2000px;
  border-radius: 4px;
  background: #ccc;
  border: 1px solid #777;
  display: -webkit-box;
  display: flex;
  margin-bottom: 20px;
}
.alert:before {
  content: '';
  width: 80px;
  position: relative;
  z-index: 999;
  background-color: #777;
  background-repeat: no-repeat;
  background-position: center 16px;
  background-size: 30px;
}

.alert-content {
  padding: 20px;
}

.alert-title {
  margin: 0;
  margin-bottom: 5px;
  font-size: 18px;
  padding: 0;
}

.alert-body p {
  margin: 0;
  font-size: 16px;
}

.alert-error {
  background-color: #fff5f5;
  border-color: #f78b8b;
}
.alert-error:before {
  background-color: #f78b8b;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/error.svg");
}
.alert-error .alert-title {
  color: #f78b8b;
}

.alert-success {
  background-color: #f0f9ef;
  border-color: #7ebb7a;
}
.alert-success:before {
  background-color: #7ebb7a;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/success.svg");
}
.alert-success .alert-title {
  color: #7ebb7a;
}

.alert-warning {
  background-color: #fff9f0;
  border-color: #ffc848;
}
.alert-warning:before {
  background-color: #ffc848;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14179/warning.svg");
}
.alert-warning .alert-title {
  color: #ffc848;
}